.navbar {
  height: 80px;
  background-color: grey;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
}
