/* .navbar {
  height: 80px;
  background-color: grey;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
} */

nav {
  background: rgb(51, 49, 49);
  /* top: 0; */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* transition: all 0.5s; */
  /* position: relative; */
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1; */
}

.nav-menu > .active {
  border: 1px solid red;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

nav ul {
  margin: 0;
  height: 50px;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

nav button {
  color: pink;
  background-color: rgb(51, 49, 49);
  border: 1px solid rgb(128, 116, 120);
}

nav button:hover {
  color: rgb(51, 49, 49);
  background-color: rgb(128, 116, 120);
  border: 1px solid rgb(128, 116, 120);
}
