.projects-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: mediumpurple;
}

.project1 {
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  background-color: blue;
  border: 1px solid red;
}
